.mobile-background-light-standa {
  height: 1006px;
  width: 360px;
}

.page-title {
  height: 30px;
  width: 85px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.cat-card-copy-cat-card-copy-2 {
  height: 304px;
  width: 344px;
}

.rectangle {
  height: 304px;
  width: 344px;
  background-color: #FFFFFF;
}

.cat-4 {
  height: 160px;
  width: 344px;
}

.mobile-header-standard {
  height: 72px;
  width: 360px;
}

.separator {
  height: 1px;
  width: 344px;
  background-color: #BDBDBD;
}

.rectangle {
  height: 304px;
  width: 344px;
  background-color: #FFFFFF;
}

.icon-32-general-star-outline-c {
  height: 32px;
  width: 32px;
}

.cat-4 {
  height: 160px;
  width: 344px;
}

.group-6 {
  height: 20px;
  width: 29.09px;
}

.fill-6 {
  height: 18.23px;
  width: 25.89px;
  background-color: #8E8E8E;
}

.secondary-information {
  height: 20px;
  width: 172px;
  color: #8E8E8E;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}